src/components/About.css
.about-page {
  background: linear-gradient(120deg, #6bbf6b, #e0f4e0); /* Green gradient */
  color: #333;
  font-family: 'Roboto', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  text-align: center;
  margin-bottom: 40px;
  background-color: #388e3c; /* Darker green for the header */
  padding: 30px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.about-header h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.about-content {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  margin-top: -30px; /* overlap the header slightly */
}

.about-content h2 {
  font-size: 30px;
  color: #38a1db; /* Blue for subheading */
  margin-bottom: 20px;
}

.about-text {
  font-size: 18px;
  line-height: 1.7;
  color: #2f4f4f; /* Dark Slate for body text */
  margin-bottom: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
/* src/components/About.css */
.about-list {
  list-style-type: square; /* Bulleted list style */
  margin-left: 20px; /* Indentation for list items */
  color: #2f4f4f; /* Dark Slate for list text */
}